body{
	margin: 0px;
	padding-bottom: 8px;
	text-align: center;
}
header{
	float:top;
	text-align: center;
	vertical-align: middle;
	font-size: 36pt;
	font-style: normal;
	font-weight: bold;
	color: #F2F2F2;
	width:100%;
	line-height: 144px;
	background-color: #1B1B1B;
}
.tab{
	position:fixed;
	line-height:48px;
	text-align:center;
	font-size:14pt;
	color:#F8F8F8;
	top:0px;
	width:100%;
	background:#1B1B1B
}
a:link { 
	color:#d1c0a5; 
	text-decoration:none; 
} 
a:visited { 
	color:#d1c0a5; 
	text-decoration:none; 
} 
a:hover { 
	color:#a40000;
	text-decoration:none; 
} 
a:active { 
	color:#d1c0a5;
	text-decoration:none;  
} 
img{
	text-align: center;
	background: #1166aa;
}
footer{
	text-align: center;
	font-size: 16pt;
}
.home{
	display:compact;
	float:none;
	position:fixed;
	top:90%;
	left:85%;
	width:150px;
}