@charset "utf-8";
*{
	padding:0;
	margin:0;
}
html, body{
 	height:100%;
}
.header{
	position:fixed;
	height:120px;
	width:100%;
	top:0;
	background:#1B1B1B;
}
.page{
	height:auto;
	min-height:100%;
	background:#CCCCCC;
}
.content{
	overflow:auto;
	padding-top:120px;
	padding-bottom:96px;
}
.footer{
	position:relative;
	margin-top: -96px; 
	height: 96px;
	clear:both;
	background:#1B1B1B;
}	  
header{
	text-align: center;
	vertical-align: middle;
	font-size: 36pt;
	font-style: normal;
	font-weight: bold;
	color: #F2F2F2;
	width:100%;
	top:auto;
	line-height: 72px;
	background-color: #1B1B1B;
	
}
.center{
	text-align:center;
}
.tab{
	line-height:48px;
	text-align:center;
	font-size:14pt;
	color:#F8F8F8;
	top:0px;
	width:100%;
}
.tab a:link, a:visited, a:active{ 
	color:#d1c0a5; 
	text-decoration:none; 
} 
.tab a:hover { 
	color:#a40000;
	text-decoration:none; 
}  
.list a:link, a:visited, a:active{
	color:#FFFFCC;
	text-decoration:none;
}
.list a:hover{
	color:#a40000;
	text-decoration:none;
}
img{
	background:#FFFFFF;
}
footer{
	padding-top:16px;
	padding-bottom:8px;
	text-align: center;
	font-size: 16pt;
	width:100%;
	color:#FFFFFF;
}
footer a:link, a:visited, a:active{
	color:#d1c0a5;
	text-decoration:none;
}
footer a:hover{
	color:#a40000;
	text-decoration:none;
}
.copyright{
	font-size:14px;
	display: inline;
	/*box-shadow: 0 4px 4px rgba(0,0,0,0.2) inset;*/
	font-family:Tahoma,Arial,Helvetica,Serif,sans-serif,Cursive,Fantasy,Monospace;
	/*clear:both;*/
	/*text-align:center;*/
	color:#808080;
}
.home{
	display:compact;
	float:none;
	position:fixed;
	top:10%;
	left:10%;
	width:150px;
	background-color:rgba(255,255,0,1);
}
ul{
	letter-spacing: normal;
	line-stacking-shift:disregard-shifts;
	padding-left:20%;
	padding-right:20%;
}
li{
	min-height:32px;
	text-align:left;
}